In [41]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs

dataframe = pd.read_excel('Analíse_relaçao_economiasEgastos.xlsx')

#print(dataframe)

dataframe_normalizado_Aluguel =(dataframe.Aluguel-dataframe.Aluguel.min())/(dataframe.Aluguel.max()-dataframe.Aluguel.min())
#print(dataframe_normalizado_Aluguel)
dataframe_normalizadoGeral=pd.DataFrame()
for i in dataframe.columns :

    dataframe_normalizado = (dataframe[i]- dataframe[i].min())/(dataframe[i].max()-dataframe[i].min())
    dataframe_normalizado = pd.DataFrame(dataframe_normalizado)
    dataframe_normalizado.columns = [i]
    dataframe_normalizadoGeral = pd.concat([dataframe_normalizadoGeral,dataframe_normalizado],axis=1)
dataframe_normalizadoGeral.to_excel('dataframeGeral.xlsx')
print(dataframe_normalizadoGeral)

     Usuário      Água  Celular  Luz  Internet   Aluguel    Cartão     Lazer  \
0   0.000000  0.166667     0.25  0.2  0.142857  0.111111  0.071429  0.111111
1   0.010101  0.333333     0.50  0.4  0.285714  0.222222  0.142857  0.222222
2   0.020202  0.500000     0.75  0.6  0.428571  0.333333  0.214286  0.333333
3   0.030303  0.666667     1.00  0.8  0.571429  0.444444  0.285714  0.444444
4   0.040404  0.833333     0.00  1.0  0.714286  0.555556  0.357143  0.555556
..       ...       ...      ...  ...       ...       ...       ...       ...
95  0.959596  0.833333     0.25  0.0  0.000000  0.666667  0.428571  0.666667
96  0.969697  1.000000     0.50  0.2  0.142857  0.777778  0.500000  0.777778
97  0.979798  0.000000     0.75  0.4  0.285714  0.888889  0.571429  0.888889
98  0.989899  0.166667     1.00  0.6  0.428571  1.000000  0.642857  1.000000
99  1.000000  0.333333     0.00  0.8  0.571429  0.000000  0.714286  0.000000

    Apostas  Emprego Fixo     Bicos
0      0.25      0.111111  0.333333
1      0.50      0.222222  0.666667
2      0.75      0.333333  1.000000
3      1.00      0.444444  0.000000
4      0.00      0.555556  0.333333
..      ...           ...       ...
95     0.25      0.666667  0.000000
96     0.50      0.777778  0.333333
97     0.75      0.888889  0.666667
98     1.00      1.000000  1.000000
99     0.00      0.000000  0.000000

[100 rows x 11 columns]